.dashboardTop {
  padding: 8px 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid gray;
  background-color: #fff;
  z-index: 11;
  position: sticky;
  top: 0;
}
.userInfo {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfile {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
.userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
}

.logoutButton {
  color: #fff;
  font-size: 16px;
  padding: 2px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
}

.photoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pageTitle {
  text-transform: uppercase;
  font-weight: 500;
  color: #0575e6;
  margin-left: 20px;
}
