.itemBodyContainer {
  padding: 24px 32px;
}
.itemList,
.itemListHead {
  margin: 10px 0;
  padding: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr max-content;
  gap: 32px;
  background-color: rgba(128, 128, 128, 0.123);
  border-radius: 6px;
  align-items: center;
  justify-items: start;
}

.itemListHead {
  background-color: #0575e6;
  position: sticky;
  top: 47px;
}

.itemTitle,
.listHead {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 20px;
}
.itemDesc {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 20px;
}
.itemDate,
.itemRemark {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 18px;
}
.itemBalance {
  color: green;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.itemRemark {
  display: flex;
  /* gap: 8px; */
  align-items: center;
}
.itemAction {
  display: flex;
  align-items: center;
}
.listHead {
  color: #fff;
}
