.tab {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #333;
  border-radius: 6px;
  width: 200px;
  height: max-content;
  padding: 16px;
}

.tab div {
  display: flex;
  justify-content: space-between;
}
.title {
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}
.titleicon {
  width: 20px;
  height: 20px;
  /* border-radius: 50%;
  background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.number {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}
