/* .profileBodyContainer {
  padding: 24px 32px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.profileImage {
  width: 150px;
  height: 150px;
} */

.userprofile-container {
  display: flex;
  gap: 20px;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

.profile-image {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info p {
  margin: 5px 0;
}

.admin-button {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.notadmin-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.notadmin-button:hover {
  background-color: #0056b3;
}
.admin-button:hover {
  background-color: darkred;
}
